fastapi
uvicorn
python-dotenv
passlib[bcrypt]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
pdfplumber
python-docx
langchain_groq
python-multipart
pydantic[email]
langchain-community
scikit-learn
PyJWT==2.8.0
pydantic-settings==2.1.0
