fastapi
uvicorn
python-dotenv
passlib[bcrypt]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
pdfplumber
python-docx
langchain_groq
python-multipart
pydantic[email]
langchain-community
scikit-learn
PyJWT==2.8.0
pydantic-settings==2.1.0
langchain==0.1.20
langchain-community==0.0.36
sentence-transformers==2.2.2
torch==2.1.2  # Compatible with sentence-transformers, avoids 'meta tensor' issue
scikit-learn==1.3.2
openpyxl
# Optional: Only if you're using Hugging Face's models directly
transformers==4.39.3
